html{
    font-family:'Open Sans';
    font-style:'normal';
    font-weight:400;
    font-stretch:100%;
    src:url(https://fonts.gstatic.font.im/s/opensans/v28/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4saVIGxA.woff2) format('woff2');
    unicode-range:U+1F00-1FFF;
    background-color:#00539F;
}

h1{
    font-size:60px;
    text-align:center;
    margin:0;
    padding:20px 0;
    color:#00539F;
    text-shadow:3px 3px 1px black;
}

p,li{
    font-size:16px;
    line-height:2;
    letter-spacing:1px;
}

body{
    width:600px;
    margin:0 auto;
    background-color: #FF9500;
    padding:0 20px 20px 20px;
    border:5px solid black;
}

img{
    display:block;
    margin:0 auto;
}
